html
  head
    title Version 2 Challenge Part 3
    link(rel='stylesheet' href='/flight_roster.css')
  body
    h1 Passengers on Flight #{flightNumber}
    button(id='eject-passenger') Give passenger a parachute
    div(id='message')
      p= message
    table(class='flight-passengers')
      tr
        th Passenger Name
      - if (typeof(passengers) !== 'undefined'){
        each passenger in passengers
          tr(class='passenger')
            td= passenger.name
      -}
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous")
    script(src="/flight_roster.js")
