/**
 * Get the {{ dataColumnName }}s of {{ dataName }}s for a specific {{ parameterDescription }}
 * @param {string} {{ parameterName }} - {{ parameterDescription }} for which to retrieve {{ dataName }} {{ dataColumnName }}s.
 * @return {Promise} - Promise that resolves to an array of strings.
 *                     Each string is a(n) {{ dataName }} {{ dataColumnName }}.
 */