{{=<% %>=}}
<% >defineAppAndView %>

app.get('/<%endpoint %>', (req, res) => {
  <% p3dbFuncName %>()
    .then((<% secondaryTableRootName %>s) => {
      res.render('<% endpointFilesBaseName %>', { <% secondaryTableRootName %>s });
    })
    .catch((err) => {
      res.render('<% endpointFilesBaseName %>', { message: `An error occurred: ${err.toString()}` });
    })
});

<% >appStart %>