{{=<% %>=}}
<% >defineAppAndView %>

app.get('/<%endpoint %>', (req, res) => {
  db.<% p3dbFuncName %>()
    .then((<% secondaryTableRootName %>s) => {
      res.render('<% endpoint %>', { <% secondaryTableRootName %>s });
    })
    .catch((err) => {
      res.render('<% endpoint %>', { message: `An error occurred: ${err.toString()}` });
    })
    .catch(console.error);
});

<% >appStart %>