/**
 * Get the {{ dataColumnDescription }}s for a specific {{ secondaryTableRootName }} id
 * @param {number} {{ parameterName }} - {{ secondaryTableRootName }} id for which to retrieve {{ dataColumnDescription }}s.
 * @return {Promise} - Promise that resolves to an array of objects.
 *                     Each object has a {{ dataColumnName }} key.
 */