##### DOM Manipulation

In this section, the scaffolding has been created for a `{{{ p3.endpoint }}}` route. Choose a template engine (EJS or Pug) in `app.js`, start the server, then make a `GET` request for the `{{{ p3.endpointExample }}}` resource to view an example page.

When the user clicks the "Add {{ p3.mainTableRootName }}" button, add a new {{ p3.mainTableRootName }} to the list of {{ p3.mainTableRootName }}s on the page. The new {{ p3.mainTableRootName }} to be added will be entered in the text box. After clicking the "Add {{ p3.mainTableRootName }}" button, clear the text input box. __Note: There is no need to update the database or communicate with the server in any way.__

- [ ] __10:__ The "Add {{ p3.mainTableRootName }}" button has an event listener on click.
- [ ] __10:__ The {{ p3.mainTableRootName }} list has another item after button click.
- [ ] __10:__ The new {{ p3.mainTableRootName }} list item contains the contents of the text input box.
- [ ] __10:__ The text input box is cleared after the "Add {{ p3.mainTableRootName }}" button is clicked.