table.{{ endpoint }} {
  border-collapse: collapse;
  margin-top: 10px;
}

table.{{ endpoint }} th, table.{{ endpoint }} td {
  border: 1px solid black;
  padding: 3px;
}

.light-gray {
  background-color: #eee;
}