<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Practice Phase Challenge Part 3</title>
  <link rel="stylesheet" href="/{{ endpointFilesBaseName }}.css">
</head>

<body>
  <h1>{{ viewTitle }} </h1>
  <input type="text" id="{{ mainTableRootName }}-name" placeholder="new {{ mainTableRootName }}">
  <button id="{{ buttonId }}">Add {{ mainTableRootName }}</button>
  <div id="message">
    <p>
      <% if (locals.message) { %>
        <%= message %>
      <% } %>
      </p>
  </div>
  <ul class="{{ endpointFilesBaseName }}">
    <% if (locals.{{ mainTableRootName }}s) { %>
      <% for (var {{ mainTableRootName }} of {{ mainTableRootName }}s) { %>
        <li class="{{ mainTableRootName }}">
          <%= {{ mainTableRootName }}.{{ dataColumnName }} %>
        </li>
      <% } %>
    <% } %>
  </ul>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/{{ endpointFilesBaseName }}.js"></script>
</body>

</html>
