{{=<% %>=}}

html
  head
    title Practice Phase Challenge Part 3
    link(rel='stylesheet' href='/<% endpointFilesBaseName %>.css')
  body
    h1 <% viewTitle %>
    input(type='text' id='<% mainTableRootName %>-name' placeholder='new <% mainTableRootName %>')
    button(id='<% buttonId %>') Add <% mainTableRootName %>
    div(id='message')
      p= message
    ul(class='<% endpointFilesBaseName %>')
      - if (typeof(<% mainTableRootName %>s) !== 'undefined'){
        each <% mainTableRootName %> in <% mainTableRootName %>s
          li(class='<% mainTableRootName %>')= <% mainTableRootName %>.<% dataColumnName %>
      -}
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous")
    script(src="/<% endpointFilesBaseName %>.js")
