{{> dbConnection}}

{{> jsDoc}}

const {{ dbFuncName }} = ({{ parameterName }}) =>
  db.query(`
    SELECT {{ dataName }}s.{{ dataColumnName }}
    FROM {{ dataName }}s
      JOIN {{ joinTableName }}
        ON {{ dataName }}s.id = {{ joinTableName }}.{{ dataName }}_id
      JOIN {{ mainTableName }}
      ON {{ mainTableName }}.id = {{ joinTableName }}.{{ mainTableRootName }}_id
    WHERE {{ mainTableName }}.{{ parameterColumnName }} = $1`,
    [{{ parameterName }}])
    .then({{ mainTableName }} => {{ mainTableName }}.map(item => item.{{ dataColumnName }}))

module.exports = {
  {{ dbFuncName }},
}
