/**
 * Add a {{ mainTableRootName }} with the specified {{ parameter1Description }} and {{ parameter2Description }}
 * @param {string} {{ parameter1Name }} - {{ parameter1Description }} for the {{ mainTableRootName }}.
 * @param {number} {{ parameter2Name }} - {{ parameter2Description }} for the {{ mainTableRootName }}.
 * @return {Promise} - Promise that resolves to an object containing the `id` of the added {{ mainTableRootName }}.
 */