# Foundations -> Practice Challenge

## Introduction

This document contains the requirements for completing your interview challenge as well as instructions for setup and teardown. Read the following content carefully!

### Setup

#### Completed by your interviewer:

- `npm install`

#### For you to complete:
First, we'll need to navigate to the directory on the interview USB drive where the challenge files are. On a mac, you'll find it here:

```sh
cd "/Volumes/INTERVIEWDRIVE/[YOUR DIRECTORY NAME]"
```

Next, we need to setup the challenge. You can do so by simply running a script:

```sh
cd setup && npm run setup && cd ..
```

## The Interview Challenge

This challenge has three parts:

- Part 1: {{ description.part1 }}
- Part 2: {{ description.part2 }}
- Part 3: {{ description.part3 }}

### Part 1: SQL

##### PostgreSQL, Node.js, & pg-promise

#### ER Diagram

An ER diagram has been provided that visualizes the database schema:

![ER Diagram](/part-1/{{ dbName }}_ERD.png)

{{> part-1}}

### Part 2: Express

{{> part-2}}

##### Starting the server

To start the server, run: `npm start`.

### Part 3: Front-End

##### DOM Manipulation

{{> part-3}}

## Teardown

Let's do a little cleanup:

1. End the video recording (if applicable)
2. From your terminal, stop any running express servers
3. From your terminal, `cd` out of the usb drive directory
4. Quit your terminal application
5. Quit your text editor application
6. Close any browser windows pertaining to the challenge
7. Remove the `Postico` entry for the database connection (if applicable)
8. Eject the USB drive (`diskutil unmount INTERVIEWDRIVE`)