{{> dbSetup}}

{{> jsDoc}}
const {{ dbFuncName }} = ({{ parameterName }}) =>
  db.query(`
    SELECT {{ dataName }}s.{{ dataColumnName }}
    FROM {{ dataName }}s
      JOIN {{ joinTableName }}s
        ON {{ dataName }}.id = {{ joinTableName }}.{{ dataName }}_id
      JOIN {{ mainTableName }}
      ON {{ mainTableName }}.id = {{ joinTableName }}.{{ mainTableName }}_id
    WHERE {{ mainTableName }}.{{ parameterColumnName }} = $1`,
    [{{ parameterName }}])
    .map(item => item[{{ dataColumnName }}])

module.exports = {
  {{ dbFuncName }},
}
