##### DOM Manipulation

In this section, the scaffolding has been created for a `/{{ p3.endpoint }}` route that returns a {{ p3.endpointDescription }} for any particular {{ p3.parameterDescription }}. Choose a template engine (EJS or Pug) in `app.js`, then make a `GET` request for the `/{{ p3.endpoint }}` resource. Include the query string `{{ p3.parameterName }}={{ p3.exampleGetData }}` to display the {{ p3.endpointDescription }} for that {{ p3.parameterDescription }}.

The challenge for this section: when a user clicks the button labeled `{{ p3.removeButtonText }}`, one of the {{ p3.dataName }}s (it doesn't matter which one) should be removed from the list. __Note__: The {{ p3.dataName }} only needs to be removed from the page. __There is no need to update the database or communicate with the server in any way.__

You may use vanilla JS or JQuery.

- [ ] __10:__ The `{{ p3.removeButtonText }}` button has an on click event listener.
- [ ] __10:__ The {{ p3.dataName }} list has one fewer row after the first click.
- [ ] __15:__ The {{ p3.dataName }} list has one fewer row after each subsequent click.
- [ ] __10:__ If the list is empty when the button is clicked, the page displays a message in the div with the id `message`: "All out of {{ p3.dataName }}s"
