/**
 * Get {{ mainTableMainColumnName }} and {{ secondaryFieldDescription }} for each {{ mainTableRootName }} in the database
 * @returns {promise} - Promise resolving to an array of objects.
 *                      Each object represents one {{ mainTableRootName }} and 
 *                      has keys '{{ mainTableMainColumnName }}' and '{{ secondaryFieldName }}'
 */