{{> dbConnection}}

{{> jsDoc}}

const {{ dbFuncName }} = ({{ parameter1Name }}, {{ parameter2Name }}) =>
  db.one(`
    INSERT INTO {{ mainTableRootName }}s
      ({{ parameter1ColumnName }}, {{ secondaryTableRootName }}_id)
    VALUES ($1, $2)
    RETURNING id
  `, [{{ parameter1Name }}, {{ parameter2Name }}])

/**
 * Get {{ p3columnName }} for all {{ secondaryTableRootName }}s
 * @returns {promise} - Promise resolving to array of objects, each with the key '{{ p3columnName }}'
 */
const {{ p3dbFuncName }} = () => 
  db.query(`
    SELECT {{ p3columnName }}
    FROM {{ secondaryTableRootName }}s
  `)

module.exports = {
  {{ dbFuncName }},
  {{ p3dbFuncName }}
}
