require('dotenv').config({path: '../.env'})
const express = require('express')
const {{ p2.dbFuncName }} = require('./db/db')

// JSDoc for {{ p2.dbFuncName }}
{{> jsDoc}}

{{> defineAppAndView }}

{{> appStart }}