<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Practice Phase Challenge Part 3</title>
  <link rel="stylesheet" href="/{{ endpoint }}.css">
</head>

<body>
  <h1>{{ mainTableRootNameCaps }}s</h1>
  <input id="monster-{{ secondaryTableRootName }}">
  <button id="{{ buttonId }}">{{ buttonText }}</button>
  <table class="{{ endpoint }}">
    <thead>
      <tr>
        <th>{{ mainTableRootName }} {{ mainTableMainColumnName }}</th>
        <th>{{ secondaryTableRootName }} {{ secondaryTableMainColumnName }}</th>
      </tr>
    </thead>
    <tbody>
      <% if (locals.{{ mainTableRootName }}s) { %>
        <% for (var {{ mainTableRootName }} of {{ mainTableRootName }}s) { %>
          <tr class="{{ endpoint }}">
            <td class="{{ mainTableMainColumnName }}"><%= {{ mainTableRootName }}.{{ mainTableMainColumnName }} %></td>
            <td class="{{ secondaryFieldName }}"><%= {{ mainTableRootName }}.{{ secondaryFieldName }} %></td>
          </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/{{ endpoint }}.js"></script>
</body>

</html>
